* {background-color:rgb(177, 135, 44);
    padding: 5px;}

    .bnt-link {padding: 10px 8px;
        margin: 5px;
        color:bisque;
        background:rgb(58, 46, 6);
        border: 1px solid #5555;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        text-decoration: none;}

    .bnt-link:hover {background: rgb(71, 58, 13);
                    transition: background 10ms;
                    color: #fcefcc;}

h1 {color: white;
    background-color: rgb(58, 46, 6);
    font-size:xx-large;
    text-align: center;
    border-radius: 9px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);}

p {
    color: rgb(0, 0, 0);
    border-radius: 6px;
    font-size: large;
    text-align:center;
    background-color: rgb(146, 86, 43);
    border-style: ridge;
    }

#botao {
    text-align: center;
}

#container {
    grid-area: container;
    display: flexbox;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box3"
                         "box4 Empty box5";
    }

    
#box1 {
    grid-area: box1;
}

#box2 {
    grid-area: box2;
}

#box3 {
    grid-area: box3;
}

#box4 {
    grid-area: box4;
}

#box5 {
    grid-area: box5;
}

#container div {
    text-align: center;
    padding: 10px
}


img {

    width: 20vw;
    height: 30vh;
    border-style: ridge;

}



